body,html {

    margin: 0;
    padding: 0;
    background-image: url(img/fundo.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position-y: 80%;

}

.wrapper {

    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;

}

.secao {

    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;

}

.secao::before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);

}

.conteudo {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #d58836b6;
    color: white;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}

.conteudo2 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: rgba(75, 2, 75, 0.514);
    color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}

.conteudo3 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #202a2e8e;
    color: white;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}

.conteudo4 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #4e706c94;
    color: white;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}

.conteudo5 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #7e5e458a;
    color: white;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}


.conteudo6 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #32050ab2;
    color: white;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}

.conteudo7 {

    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px;
    background-color: #22bb9783;
    color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    font-family: Geneva, Verdana, sans-serif;

}


.fundo1::before {


    background-image: url(img/luffy.jpg);


}

.fundo2::before {

    background-image: url(img/sanji.jpg);

}

h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.fundo3::before {

    background-image: url(img/shanks.jpeg);

}

.fundo5::before {

    background-image: url(img/zoro.jpeg);

}

.fundo10::before {

    background-image: url(img/dr.jpg);

}

.fundo6::before {

    background-image: url(img/roger.jpeg);

}

.fundo7::before {

    background-image: url(img/nami.jpg);

}

footer {

position: fixed;
bottom: 0;
width: 100%;
text-align: center;
color: white;
padding: 1%;
text-shadow: 2px 2px 2px black;

}

h1 {

margin-top: 40px;

}

